@import "Global";
header {
  background-color: $color1;
  margin-bottom: 26px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}
header nav {
  text-align: right;
  display: inline-block;
  width: 100%;
}
.nav-app {
  width: 100%;
  margin-bottom: 26px;
}
.nav-app a {
  color: white;
  padding: 5px;
  border: 3px solid $color2;
  border-radius: 5px;
}
